1)Напишите программу, которая выводит n звездочек в столбик по заданному n.

In [23]:
n = 10
for i in range (n + 1):
    print ("*")

*
*
*
*
*
*
*
*
*
*
*

2)Напишите программу, которая выводит n звездочек в строчку по заданному n

In [25]:
n = 10
for i in range (n + 1):
    i = "*"
print ("*" * n)
print (i, i, i, i, i, i, i, i, i, i)

**********
* * * * * * * * * *

In [3]:
n = 10
for i in range (n):
    print ("*", end="-")

*-*-*-*-*-*-*-*-*-*-

3)По заданным m и n вывести прямоугольник из звездочек, в котором n строк и m столбцов

In [1]:
n = 5
m = 10
for i in range (n):
    print ("*" * m) #или перечислить i через запятую 10 раз)

**********
**********
**********
**********
**********

In [1]:
n = 5
m = 10
for i in range (n):
    for j in range (m):
        print ("*", end=" ")
    print ("*")

* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *

4)Написать программу, которая по заданному n выводит "левостороннюю пирамидку"

In [4]:
n = 10
for i in range (n + 1):
    for j in range (i):
        print ("*", end = " ")
    print ("*")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *

5)Написать программу, которая по заданному n выдает "правостороннюю пирамидку"

In [10]:
n = 10

for i in range ()

*
0 *
0 1 *
0 1 2 *
0 1 2 3 *
0 1 2 3 4 *
0 1 2 3 4 5 *
0 1 2 3 4 5 6 *
0 1 2 3 4 5 6 7 *
0 1 2 3 4 5 6 7 8 *
0 1 2 3 4 5 6 7 8 9 *

6)Написать программу, которая по заданному n выводит "перевернутую левостороннюю пирамидку".

In [5]:
n = 10
for ???:
    ???
    print ???

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

7)Написать программу, которая по заданному n выводит "перевернутую правостороннюю пирамидку".

In [11]:
n = 10
for ???:
    ???
    print ???

* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

8)По заданному n вывести квадрат из следующих цифр:

In [9]:
n = 8
for i in range (0, 8):
    for j in range (0, 8):
        print (j, end= " ")
    print ()

0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7

По заданному n вывести левосторонний треугольник из следующих цифр:

In [4]:
n = 10
for i in range (0, 11):
    for j in range ((i + 1) - 1):
        print (j, end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

По заданному n вывести правосторонний треугольник из следующих цифр:

In [7]:
n = 10

По заданному n вывести перевернутый левосторонний треугольник из следующих цифр:

In [20]:
n = 10
???

9 9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8 8
7 7 7 7 7 7 7 7
6 6 6 6 6 6 6
5 5 5 5 5 5
4 4 4 4 4
3 3 3 3
2 2 2
1 1
0

По заданному n вывести перевернутый правосторонний треугольник из следующих цифр:

In [21]:
n = 10
???

0 1 2 3 4 5 6 7 8 9
  0 1 2 3 4 5 6 7 8
    0 1 2 3 4 5 6 7
      0 1 2 3 4 5 6
        0 1 2 3 4 5
          0 1 2 3 4
            0 1 2 3
              0 1 2
                0 1
                  0

По заданному n вывести перевернутый правосторонний треугольник из следующих цифр:

In [24]:
n = 10
???

0 1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7 8 9
    2 3 4 5 6 7 8 9
      3 4 5 6 7 8 9
        4 5 6 7 8 9
          5 6 7 8 9
            6 7 8 9
              7 8 9
                8 9
                  9

По заданному n вывести квадрат из следующих цифр:

In [28]:
n = 8
???

0 	1 	2 	3 	4 	5 	6 	7
1 	2 	3 	4 	5 	6 	7 	8
2 	3 	4 	5 	6 	7 	8 	9
3 	4 	5 	6 	7 	8 	9 	10
4 	5 	6 	7 	8 	9 	10 	11
5 	6 	7 	8 	9 	10 	11 	12
6 	7 	8 	9 	10 	11 	12 	13
7 	8 	9 	10 	11 	12 	13 	14

Вывести по заданному n центральный треугольник с цифрами

In [32]:
n = 8
for ???:
    ???

              0
            0 1 0
          0 1 2 1 0
        0 1 2 3 2 1 0
      0 1 2 3 4 3 2 1 0
    0 1 2 3 4 5 4 3 2 1 0
  0 1 2 3 4 5 6 5 4 3 2 1 0
0 1 2 3 4 5 6 7 6 5 4 3 2 1 0

Вывести ромбик из цифр

In [53]:
n = 8
for ???:
    ???
???
for ???:
    ???

              0
            0 1 0
          0 1 2 1 0
        0 1 2 3 2 1 0
      0 1 2 3 4 3 2 1 0
    0 1 2 3 4 5 4 3 2 1 0
  0 1 2 3 4 5 6 5 4 3 2 1 0
0 1 2 3 4 5 6 7 6 5 4 3 2 1 0
  0 1 2 3 4 5 6 5 4 3 2 1 0
    0 1 2 3 4 5 4 3 2 1 0
      0 1 2 3 4 3 2 1 0
        0 1 2 3 2 1 0
          0 1 2 1 0
            0 1 0
              0